* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.2s;
}

:root {
    --primary-color: #1e2140;
    --secondary-color: #282c51;
    --tertiary-color: #151932;
    --scent-color: #f5706f;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary-color);
    color: #fff;
}

#status-list {
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    padding: 0.5rem;
}

.status {
    padding: 1rem;
    border-radius: 2rem;
}

.active {
    color: var(--tertiary-color);
    background-color: var(--scent-color);
    padding: 1rem;
    border-radius: 2rem;
}

#timer-border {
    background-image: linear-gradient(
        125deg,
        var(--tertiary-color),
        var(--secondary-color)
    );
    padding: 1.5rem;

    box-shadow: -40px -40px 40px var(--secondary-color),
        40px 40px 40px var(--tertiary-color);

    border-radius: 50%;
}

#time {
    cursor: pointer;
    background-color: var(--tertiary-color);
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

#time:hover {
    background-color: var(--primary-color);
}

#time-content {
    font-size: 5rem;
}
